@import "tailwindcss";

:root {
    --animate-duration: 1200ms;
}

.roboto-slab {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.quicksand {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#box {
    will-change: transform, width, height, opacity;
}

#property-carousel .splide__slide {
    transition: transform .4s ease;
}

#property-carousel .splide__slide.is-active {
    transform: scale(1.1);
    z-index: 10;
}

#property-carousel .splide__slide.is-active .opa {
    opacity: 1 !important;
}

#property-carousel,
#property-carousel .splide__track,
#property-carousel .splide__list {
    overflow: visible !important;
}
#property-carousel .splide__arrow {
  display: none !important;
}